<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
    <title>Список пользователей</title>
</head>
<body>
<header>
    <div class="container" >
        <div class="row">

            <div class="col-md-6 col-sm-6 col-12 start align-items-start align-self-center">  <a th:href="@{/templates/product}"> <h1 style="font-family: 'Monotype Corsiva'">Теремок</h1></a></div>
            <div class="col-md-2 col-sm-12 col-12 align-self-center text-center">
                <a th:href="@{/admin/allOrder}">Заказы</a> </div>
            <div class="col-md-2 col-sm-12 col-12 align-self-center text-center"><a th:href="@{/index}">Выбор товаров</a> </div>
            <div class="col-md-2 col-sm-12 col-12 align-self-center text-center"> <form method="post" th:action="@{/logout}">
                <input type="submit" value="Выйти из личного кабинета">
            </form></div>
        </div>
    </div>
</header>
<div class="container">
    <div class ="row">
        <h4 class="text-start" style="color:brown"> Личный кабинет администратора</h4>
        <br>
        <h4 style="margin-bottom: 40px">Список пользователей</h4>
        <div class="col-md-12 col-sm-12 col-12">
            <div th:each="person : ${allperson}">
                <div class ="row">
                <div class="col-md-3 col-sm-12 col-12">
                    <p th:text="'ID: ' + ${person.getId()}"  style="font-size: 16px; font-family: 'Georgia'"></p>
                    <p th:text="'Пользователь: ' + ${person.getLogin()}"  style="font-size: 16px; font-family: 'Georgia'"></p>
                    <p th:text="'Роль: ' + ${person.getRole()}" style="font-size: 16px; font-family: 'Georgia'"></p>
                </div>
                 <div class="col-md-3 col-sm-12 col-12" align-items-end align-self-end>
                    <form  th:action="@{/admin/person/delete/{id}(id=${person.getId()})}">
                        <input type="submit" value="Удалить">
                    </form>
                </div>
                    <div th:if ="${person.getRole()}!='ROLE_ADMIN'"  class="col-md-3 col-sm-12 col-12" align-items-end align-self-end>
                        <form  th:action="@{/admin/person/edit/{id}/{role}(id=${person.getId()}, role='ROLE_ADMIN')}">
                            <input type="submit" value="Выдать роль админа">
                        </form>
                    </div>
                    <div th:if ="${person.getRole()}!='ROLE_USER'" class="col-md-3 col-sm-12 col-12" align-items-end align-self-end>

                        <form  th:action="@{/admin/person/edit/{id}/{role}(id=${person.getId()}, role='ROLE_USER')}">
                            <input type="submit" value="Выдать роль пользователя">
                        </form>
                    </div>
            </div>
            </div>
                <hr style="border: 2px solid brown">


        </div>
    </div>
</div>
<footer>


    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-12 start align-items-start align-self-center">
                <img th:src="@{/img/5.png}" style="height:100px; width: 421px;margin-left: 0px">
            </div>
            <div class="col-md-3 col-sm-6 col-12 start align-items-start align-self-center">
                <img th:src="@{/img/5.png}" style="height:100px; width: 421px;margin-left: 0px">
            </div>
            <div class="col-md-3 col-sm-6 col-12 start align-items-start align-self-center">
                <h6 style="color: brown; margin-bottom: -20px">Итоговая работа Алексеева Н.Б. 2022г</h6>
                <img th:src="@{/img/5.png}" style="height:100px; width: 421px;margin-left: 0px">
            </div>
            <div class="col-md-3 col-sm-6 col-12 start align-items-start align-self-center">
                <img th:src="@{/img/5.png}" style="height:100px; width: 421px;margin-left: 0px">
            </div>

        </div>
    </div>


</footer>
</body>
</html>